{% extends 'rongzhu/pages/base.html' %}
{% load static %}
{% block title %}
    接单
{% endblock %}
{% block content %}
    <br>

    <div class="col-lg-12">


        <div id="pan_div" class="panel panel-red">
            <div class="panel-heading">
                任务单详情
            </div>
            <div class="panel-body">
                <div class="list-group">

                    <h2>{{ task.equipment_name }}</h2>
                    <blockquote>
                        <p>{{ task.content|safe }}</p>
                    </blockquote>
                    <div class="pull-right">
                        <small>--- {{ task.publisher }}
                            <cite title="Source Title">{{ task.crdate }}</cite>
                        </small>
                    </div>

                    <h4>工时:{{ task.workload }}小时 <span>价格:{{ task.price }}元</span></h4>

                </div>

            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-4">已查看:{{ task.get_read_num }}次</div>

                    <div class="col-lg-4 text-center"><span id="span_id" class="text-danger"></span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                {% if previous_task %}
                    <a href="{% url 'orders' previous_task.id %}" type="button"
                       class="btn btn-success btn-lg pull-left">上一个</a>
                {% else %}
                    <a href="#" type="button" class="btn btn-success btn-lg pull-left">没有了</a>
                {% endif %}

            </div>

            <div class="col-lg-4 text-center">
                <a href="{% url 'task' %}" type="button" class="btn btn-info btn-lg"><i
                        class="fa fa-backward fa-fw"></i>返回</a>
                {#                <a href="{% url 'gettask' task.id %}" type="button" class="btn btn-danger btn-lg"#}
                {#                   id="gettask_a">接单干活喽!</a>#}
                <a type="button" class="btn btn-danger btn-lg"
                   id="gettask_a">接单干活喽!</a>
            </div>

            <div class="col-lg-4">
                {% if next_task %}
                    <a href="{% url 'orders' next_task.id %}" type="button" class="btn btn-success btn-lg pull-right">下一个</a>

                {% else %}
                    <a href="#" type="button" class="btn btn-success btn-lg pull-right">没有了</a>

                {% endif %}

            </div>

        </div>

    </div>

{% endblock %}
{% block script_extends %}
    <script>
        //在前台先判断一个用户是否登录
        $('#gettask_a').click(function () {
            if ('{{ user.is_authenticated }}' == "True") {
                $.ajax({
                    url: "{% url 'gettask' task.id %}",
                    success: function (data) {
                        if (data['status'] == 'success') {
                            $('#pan_div').removeClass('panel-red').addClass('panel-yellow');
                            $('#gettask_a').remove();
                            $('#span_id').text('已成功接单!请及时处理!');
                        }else{
                            $('#pan_div').removeClass('panel-red').addClass('panel-yellow');
                            $('#gettask_a').remove();
                            $('#span_id').text(data['message']);
                        }
                    },
                    error: function (xhr) {

                    }
                });
            }
            else {
                //如果未登录,弹出模态框提示
                $('#login_error').modal('show');
            }
            ;


        });
    </script>
{% endblock %}